<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.DogWiki">


    // Declares application attributes such as the app name, icon and theme.

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dog Wiki"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DogWiki">

        <activity android:name="com.example.DogWiki.MainActivity"
            android:label="@string/breeds">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>